@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">@Localizer["Welcome"]</h1>
</div>
